nav{
    height: 100vh;
    background-image:url("banner.png");
    background-size:cover;

}
.nav-link{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 40px;
    gap:150px

}
nav img{
    width: 150px;
    position:relative;
    top: -40px;
    right: 600px;
    
}
nav a{
    text-decoration: none;
    font-size:20px;
    font-family: 'Gill Sans MT' 'Trebuchet MS';
    color: white;
    font-family:Verdana;
    position: relative;
    right: 100px;
    list-style: none;
    display:inline;
}
nav ul {
    display: flex;
    gap: 20px;
    padding: 0;
   
}
.search{

    font-size: 25px;
    border-radius: 30px;
    border: none;
    outline: none;
     padding: 10px 15px 10px 45px; 
}
.search-box {
    position: relative;
    display: inline-block;
    left: 820px; /* keep your placement here instead */
    top: -55px;
}

.search-box i {
  position: absolute;
  left: 10px;
  bottom:10px;
  font-size:25px;
  color: grey;
}