nav{
    height: 100vh;
    background-image:url("banner.png");
    background-size:cover;

}
.nav-link{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    flex: 1;

}
.nav-link .search-box{
    left: -150px;
}
nav img{
    width: 150px;
}
nav a{
    text-decoration: none;
    font-size:20px;
    font-family: 'Gill Sans MT' 'Trebuchet MS';
    color: white;
    font-family:Verdana;
    position: relative;
    right: 100px;
    list-style: none;
    display:inline;
}
nav ul {
    display: flex;
    gap: 20px;
    padding: 0;
   
}
ul{
    list-style: none;
}
.dropdown-menu{
    display: block;
}

.search{

    font-size: 25px;
    border-radius: 30px;
    border: none;
    outline: none;
     padding: 0px 15px 0px 45px; 
    color: white;        /* makes typed text visible */
    background: rgba(0,0,0,0.4); /* optional: better contrast */

}
#results {
    background: white;
    color: black;
}
.search-box {
    position: relative;
    display: inline-block;
    left: 820px; /* keep your placement here instead */
    top: -55px;
}

.search-box i {
  position: absolute;
  left: 10px;
  font-size:25px;
  color: grey;
}